@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BusinessLayer.ViewModel

@model LoginVM

<!DOCTYPE html>
<html>
    <head><title>Login Ekranı</title></head>

    <body>
        <form method="post" asp-action="Index" asp-controller="Login">
            <label>Kullanıcı Adı</label>
            <input type="text" placeholder = "Kullanıcı adınızı girin." asp-for="KullaniciAdi"/>
            <br />
            <label>Şifre</label>
            <input type="password" placeholder="Şifrenizi girin." asp-for="Sifre"/>
            <br />
            <button>Giriş Yap</button>
                
        
        </form>
    </body>
</html>
