@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model EntityLayer.Concrete.Gorev

<!DOCTYPE html>
<html>

    <head><title>Görev AnaSayfası</title></head>

    <body>
        <div>
            <p>Görev AnaSayfasına hoş geldiniz!</p>
            <a href ="/gorev/gorevlist"> Görev listesini görüntülemek için tıklayınız.</a>
        </div>
    </body>

  
</html>