@{
    ViewData["Title"] = "Çalışan Yönetim Sayfası";
}
<!DOCTYPE html>
<head>
    
</head>
<body>
    <a href="/calisan/calisanekle">Çalışan Ekle</a>
    <a href="calisan/calisanlist">Çalışan Listele</a>
</body>