@model List<EntityLayer.Concrete.Departman>


    <!DOCTYPE html>
    <html>
        <head><title>Departman List</title></head>
        <body>
            <a href="departman/departmanekle">Departman Ekle</a>
            <a href="departman/departmanlarılistele">Departman Listele</a>
        </body>
    </html>
